body{
     background-color: #1A0E20;
     color: white;
 }
 a{
     color: white;
 }
 .headerNaw__list button{
     background-color: #9CD0B5;
     color: #1A0E20;
 }
 .myWorks__list p{
     color: #1A0E20;
 }
 .headerLogotype__logotype .theme__light,
 .headerLogotype__icons_lang .theme__light,
 .socialMedia .theme__light,
 footer .theme__light{
     display: none;
 }

 .theme__switch[data-theme="light"]{
     display: block;
 }

.theme__switch[data-theme="dark"]{
    display: none;
}