body{
    background-color: #FDC7D3;
    color: #373536;
}
a{
    color: #373536;
}
.headerNaw__list button{
    background-color: #373536;
    color: white;
}
.myWorks__list p{
    color: #373536;
}
.headerLogotype__logotype .theme__dark,
.headerLogotype__icons_lang .theme__dark,
.socialMedia .theme__dark,
footer .theme__dark{
    display: none;
}
.theme__switch[data-theme="light"]{
    display: none;
}
.theme__switch[data-theme="dark"]{
    display: block;
}
.body_animation{
    animation: showBlock 1s;
}
@keyframes showBlock{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}